<%= stylesheet_link_tag 'enemy', media: 'all', 'data-turbolinks-track': 'reload' %>
<div id="app">
  <label>HPで絞込み</label>
  <input type="text" v-model.number="minHp">
  <p v-cloak>{{enemies.length}}体中{{fillterd.length}}体</p>
  <table id="table">
    <tbody>
      <tr>
        <th>NAME</th>
        <th v-on:click="sortBy('hp')">HP</th>
        <th v-on:click="sortBy('magic_point')">MP</th>
      </tr>
      <tr is="enemy-item" v-for="enemy in fillterd" v-bind:enemy="enemy" v-on:click="showDetail(enemy)" v-cloak></tr>
    </tbody>
  </table>
  <p v-if="loading" v-cloak>Loading...</p>
  <h2>Detail</h2>
  <div v-cloak>
    <p v-if="updated">更新しました</p>
    <my-error v-bind:errors="errors"></my-error>
    <div v-if="show">
      <p>name: <input type="text" v-model="enemyInfo.name" ></p>
      <p>hp: <input type="text" v-model.number="enemyInfo.hp"></p>
      <p>mp: <input type="text" v-model.number="enemyInfo.magic_point"></p>
      <p>power: <input type="text" v-model.number="enemyInfo.power"></p>
      <p>magic: <input type="text" v-model.number="enemyInfo.magic_power"></p>
      <p>skill: <input type="text" v-model.number="enemyInfo.skill_power"></p>
      <button type="button" v-on:click="updateEnemy(enemyInfo.id)">更新</button>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'enemy' %>